*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    background-color: violet;
    width: 100%;
    padding-left: 10px;

}

.menu{
    max-width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    margin: 10px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
}

.menu ul li a:hover{
    color:white;
}


.naslov{
    text-align: center;
    margin:10px;
}

.galerija img{
    width: 500px;
    height: 400px;

}

.galerija{

    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: center;
}



